p {
font-family: "Courier New", Courier, monospace;
font-size : 10pt;
margin-top: 6px;
margin-bottom: 6px;
}
.right {
font-family: "Courier New", Courier, monospace;
font-size : 10pt;
float:right;
text-align: right;
margin-top: 6px;
margin-bottom: 6px;
width: 50%;
display:inline;
}
.left {
font-family: "Courier New", Courier, monospace;
font-size : 10pt;
float:left;
text-align: left;
margin-top: 6px;
margin-bottom: 6px;
width: 50%;
display:inline;
}
.heavy {
font-size: 12pt;
font-family: "Courier New", Courier, monospace;
margin-top: 8px;
margin-bottom: 8px;
font-weight: bold;
text-align: left;
}
