
/* -----------------------
Base styles
------------------------*/

body
{
    margin: 0;
    padding: 0;
    color: #586e75;
    /* background-color: #fdf6e3; */
    font: 1em/1.2 Arial, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 2em;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0em;
    } /* 36px */

h2 {
    font-size: 1.55em;
    text-align: left;
    color: #073642;
    margin-bottom: 1em;
    margin-top: 2em;
    margin-left: 2.5em;
}

h3 {
    font-size: 1.375em;
    margin-top: 0.5em;
    margin-left: 3em;}
    /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */


p {
   margin: 0px;
   font-size: 0.9em;
   padding: 0px;
   color: #586e75;
}

blockquote
{
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}

hr
{
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ccc;
}


table
{
    margin: 1em;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 0px solid #586e75;
    float: left;
    background-color: transparent;
}

th
{
    position: relative;
    background-color : #93a1a1;
    font-weight : bold;
    padding: 0.4em 0.4em;
    vertical-align: top;
    text-align: left;
    height: 25px;
    border-collapse: collapse;
	border: 1px solid #93a1a1;
}

td
{
    position: relative;
    color: #073642;
    vertical-align: top;
    text-align: left;
    padding: 0.4em 0.4em;
    height: 25px;
	border: 1px solid #93a1a1;
    font-size: 1em;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

/* Radio element, when checked */
input[type="radio"]:checked + label {
    color: black;
    background-color: rgba(242, 182, 25, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.accounting td{
    font-size: 1.35em;
    vertical-align: bottom;
    border-collapse: collapse;
	border: 0px solid #93a1a1;
    height:22px;
    margin-left: 2.5em;
    padding-left: 2.2em;
    padding-right: 3.2em;
}

/* .accounting th, tr:nth-child(even) {background: #eee8d5}
.accounting tr:nth-child(odd) {background: #fdf6e3}

.main th, tr:nth-child(even) {background: #fdf6e3}
.main tr:nth-child(odd) {background: #fdf6e3} */

.canvas{
    float: left;
    padding: 0em 2em 0em 2em;
    width:700px
}

.canvas2{
    position: relative;
    float: left;
    padding: 0em 2em 0em 0em;
    width:250px;
}

.center {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    background-color : #fff;
}

.thmain
{
    position: relative;
    background-color : #C0D6EE;
    font-weight : bold;
    color: #657b83;
    padding: 0.3em 0.5em;
    vertical-align: top;
    text-align: left;
    height: 25px;
    border-collapse: collapse;
	border: 1px solid #93a1a1;
}

.stock {
    position: relative;
    background-color : #C0D6EE;
    font-weight : bold;
    color:#657b83;
    padding: 0.3em 0.5em;
    vertical-align: top;
    text-align: left;
    height: 25px;
    border-collapse: collapse;
	border: 1px solid #93a1a1;
}


.table .main {
    vertical-align: top;
    position: relative;
    border: 1px solid #586e75;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mid{
    vertical-align: top;
    /* background-color: #fdf6e3; */
    position: relative;
}

.mid.deselected{
    /* background-color: #fdf6e3; */
    /* color: #eee8d5; */
    color: #93a1a1;
}



.min {
    vertical-align: top;
    /* background-color: rgba(133,153,0,0.5); */
    background-color: #ddecfc;
    position: relative;
}

.min.deselected{
    /* background-color: #fdf6e3; */
    /* color: #eee8d5; */
    color: #93a1a1;
}

.ambig{
    /* background-color: #eee8d5; */
    background-color: #efefef;
    color: #93a1a1;
    /* background-color: #cb4b16; */
}

.ambig.deselected{
    /* background-color: #fdf6e3; */
    /* color: #eee8d5; */
    color: #93a1a1;
}

.null{color: #93a1a1;}
/* .null.deselected{color: #eee8d5;} */
.null.deselected {
    color: #efefef;
}
/* td .deselected{
    background-color: #fdf6e3;
} */

.nolines
{
        border: None;
}

.partname{
    padding-left: 20px;
    padding-top: 20px;
}

.lineno
{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    color: #073642;
}

.manf{
    font-size: 1.25em;
    color: #073642;
    margin-top:0.5em;
    margin-bottom: 1em;
}


.descr{
    font-size: 1.15em;
    color: #586e75;
    margin-top:0.5em;
    margin-bottom: 1em;
}

.descr p{
    margin-top:0.5em;
    margin-bottom: 1em;
}

.descr a{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}
.partname img{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.stck{
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
    color: #073642;
}


.slct {
    background-color : rgb(181,137,0);
    padding: 0.1em;
    vertical-align:top;
    text-align: left;
}


.refdes{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
    margin-top: 0.1em;
    margin-bottom: 0;
    color: #073642;
}

.ROHS{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
    color: rgb(51, 87, 103);
}

.compliant{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
    color :#2aa198;
}

.uncompliant{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
    color :#dc322f;
}

.unknown{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
}

.active{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
    color : #268bd2;
}

.eol{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
    color : #cb4b16;
}

.deselected{
    /* color :#eee8d5; */
    color :#efefef;
}



.lifecycle{
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0;
    color: rgb(51, 87, 103);
}




a:link
{
    color: rgb(38,139,210);
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: top;
    text-decoration: none;
}

a:visited { color: rgb(211,54,130); }
a:focus { color: rgb(0,43,54); }
a:hover { color: rgb(133,153,0); }
a:active { color: rgb(220,50,47); }

a.deselected{
    /* color :#eee8d5; */
    color :#efefef;
}

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 50em;
    margin: 0 auto;
}

.header
{
	color: #fff;
	background: #586e75;
	padding: 1em 1.25em;
}

.header-heading
{
    margin: 0;
}

.highlight {
    background-color: #cecece;
}
.nav-bar
{
    background: #002b36;
    padding: 0;
}

.content
{
    padding: 1em 1.25em;
    background-color: #fff;
}



/* -----------------------
Nav
------------------------*/

.nav
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li
{
    display: inline;
    margin: 0;
}

.nav a
{
    display: block;
    padding: .7em 1.25em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.nav a:focus
{
    color: black;
    background-color: white;
}

.nav a:hover
{
    color: white;
    background-color: #859900;
}

.nav a:active
{
    color: white;
    background-color: #dc322f;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
    color: #fff !important;
    background-color: #268bd2;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover
{
    color: #fff !important;
    background-color: #859900;
}

.btn:focus
{
    color: #fff !important;
    background-color: black;
}

.btn:active
{
    color: #fff !important;
    background-color: red;
}

.list-unstyled
{
    padding-left: 0;
    list-style: none;
}

.list-inline
{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li
{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
    .header { padding: 1.5em 3em; }
    .nav-bar { padding: 1em 3em; }
    .content { padding: 2em 3em; }
    .footer { padding: 2em 3em; }

    .nav li
    {
        display: inline;
        margin: 0 1em 0 0;
    }

    .nav a
    {
        display: inline;
        padding: 0;
        border-bottom: 0;
    }
}